.scboxlayout {
  background-color: #eeeeee;
  margin: 0px;
  padding-left: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  list-style-type: none;
}

.box1 {
  width: 36.2%;
  background-color: #7ee5da;
  float: left;
  height: 75px;
  margin-top: 2px;
  margin-right: 0.2%;
}

.box1layout {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 10px;
}

.box2 {
  background-color: #70ccc2;
  width: 20.2%;
  float: left;
  height: 75px;
  margin-top: 2px;
  margin-right: 0.2%;
}

.box2layout {
  margin: 0px;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  font-size: 13px;
}

.box3 {
  background-color: #62b3aa;
  width: 43.2%;
  float: left;
  height: 75px;
  margin-top: 2px;
}

.box3layout {
  margin: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  list-style-type: none;
  font-size: 13px;
}

p {
  font-size: 13px;
  margin-top: 85px;
}
